/* tamanhos de tela */
@media (min-width: 1024px) {
    body {
        background-image: url("../assets/imagens/fundoreceitas.png");
        min-height: 1080px;
        max-height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url("../assets/imagens/fundoreceitas.png");
        min-height: 1023px;
        max-height: 100%;

    }
}

@media (max-width: 767px) {
    body {
        background-image: url("../assets/imagens/fundoreceitas.png");
        min-height: 767px;
        max-height: 100vh;

    }
}


/* filtros */
div.filtro {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #ede5dd6c;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 0.05rem;
}

/* filtros */
div#filtragem {

    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.05rem;
    padding-top: 0.02rem;
    position: relative;
    margin-top: 4rem;
    text-align: center;
}

/* filtros */
section#tresfiltros{
margin-top: 2.5rem;
}


/* filtros */
section#tresfiltros div.filtros {
    position: relative;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    position: relative;
    display: inline;

}


/* filtros */
section#tresfiltros div.filtros button.filtrosespeciais1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd98;
    background-color: #ede5dd23;
    box-shadow: none;
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
    padding-bottom: 1px;
    width: 200px;
    height: 40px;
    border: none;
    box-shadow: none;
    transition: .4s;
}


/* filtros */
section#tresfiltros div.filtros button:active.filtrosespeciais1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
section#tresfiltros div.filtros button:focus.filtrosespeciais1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
section#tresfiltros div.filtros button.filtrosespeciais2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd98;
    background-color: #ede5dd23;
    box-shadow: none;
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
    padding-bottom: 1px;
    width: 130px;
    height: 40px;
    border: none;
    box-shadow: none;
}


/* filtros */
section#tresfiltros div.filtros button:active.filtrosespeciais2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
section#tresfiltros div.filtros button:focus.filtrosespeciais2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
section#tresfiltros div.filtros button.filtrosespeciais3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd98;
    background-color: #ede5dd23;
    box-shadow: none;
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
    padding-bottom: 1px;
    width: 130px;
    height: 40px;
    border: none;
    box-shadow: none;
}


/* filtros */
section#tresfiltros div.filtros button:active.filtrosespeciais3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
section#tresfiltros div.filtros button:focus.filtrosespeciais3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ede5dd;
    background-color: #562C2C;
}


/* filtros */
div#palavrasSelecionadas {
    align-items: center;
    color: #272c28af;
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;

}


/* filtros */
div.filtros ul.dropdown-menu {
    background-color: #ede5dd;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;

}


/* filtros */
div#palavrasSelecionadas #buttonx {
    background-color: #562C2C;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: #ede5dd;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius:0 0.6rem 0.6rem 0;
    border: none;
    margin-right: 1rem;
}


/* filtros */
div#palavrasSelecionadas #buttonfiltro {
    background-color: #562C2C;
        align-items: center;
        width: auto;
        height: 2rem;
        text-align: center;
        color: #ede5dd;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'poppins', sans-serif;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        border-radius: 0.6rem 0 0 0.6rem ;
        border: none;
    }


        /* filtros */
.conteudo-filtragem {
    margin-top: 7rem;
}

/* filtros */
.conteudo {
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
}


/* cards receitas */
div.card.card-carousel {

    --bs-card-title-color: #ECE5DC;
    --bs-card-color: rgba(249, 239, 235, 0.62);
    background-color: rgba(236, 229, 220, 0.06);
    border-color: transparent;
    border-width: 0.8rem;
    font-family: 'Kadwa-Regular', sans-serif;
    font-size: 0.90rem;
    height: 29rem;
    margin-bottom: 5rem;
    width: 15rem;
}

div.col {
    display: flex;
    justify-content: center;
}

/* alterando o botão "ver mais */
a#vermais {

    --bs-btn-bg: rgba(236, 229, 220, 0.27);
    /*botão*/
    --bs-btn-hover-color: #1F231B;
    /*letra do botão apertado*/
    --bs-btn-hover-bg: rgba(236, 229, 220, 0.874);
    /*botão apertado*/
    --bs-btn-active-bg: rgba(236, 229, 220, 0.874);
    /*botão ativo*/
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 10rem;
    margin-top: 1rem;
  
}