<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../components-css/nav.css">
    <link rel="stylesheet" href="../components-css/footer.css">
    <link rel="stylesheet" href="../components-css/dicacomidaebebida.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--biblioteca de icones-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg shadow-5rem">
            <div class="container-fluid">
                <a class="navbar-brand a" href="../index.html" id="inicio-link">
                    <img src="../assets/imagens/logocomfundo.png" alt="Bootstrap" width="138" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <!-- nome das páginas na nav bar-->
                    <ul class="navbar-nav nav-underline ml-auto ">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="receitas-link"
                                href="./receitas.html">Receitas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="fale-conosco-link"
                                href="./fale-conosco.html">Fale Conosco</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="sobre-link" href="./sobre.html">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="contato-link" href="./contato.html">Contato</a>
                        </li>
                    </ul>

                    <form class="d-flex d-lg-flex d-none justify-content-center" role="search">
                        <input class="form-control" type="search" placeholder="Drinks" aria-label="Search">
                        <!-- modelo icone--> <button class="btn" type="submit"><span
                                class="bi bi-search"></span></button>
                    </form>

                    <ul class="navbar-nav nav-underline ml-auto " id="ul-acesso">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="acesso-link" href="./acesso.html">Login</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>

    <div class="titulo">
        <h1> Drinks e comida:</br>
            como encontrar a
            harmonia? </h1>
    </div>

    <div class="textocorrido">
        <p id="textointroducao"> Existem quatro maneiras diferentes de harmonizar um coquetel com outro alimento, seja
            ele sólido ou líquido.
            Essas harmonizações podem ser feitas com lanches ou até mesmo refeições completas. É importante escolher uma
            ou mais funções para essa
            combinação e tomar cuidado para não exagerar. Aqui estão os quatro tipos de harmonização:</p>


        <h2> HARMONIZAÇÃO POR EQUILÍBRIO</h2>

        <p> Essa opção é perfeita se você deseja criar um complemento que não entre em conflito com os ingredientes
            utilizados em bebidas ou alimentos.
            A concentração do alimento é similar à dos ingredientes presentes no copo, com o intuito de adicionar sabor
            e sensações. Por exemplo,
            ao servir um sanduíche de carne, bacon e picles com um Bloody Mary, cria-se uma combinação harmoniosa em vez
            de um contraste doce/salgado.
            Ambos possuem sabores intensos, mas se equilibram perfeitamente.

            É uma escolha ideal quando o objetivo é ampliar ainda mais a variedade de sensações de sabores, como se o
            que está dentro do copo fosse uma extensão
            da experiência do prato e vice-versa.</p>

        <h2> HARMONIZAÇÃO POR SEMELHANÇA</h2>

        <p> Um ingrediente em um coquetel ou prato pode ter um sabor específico, mesmo que sutil, e sua combinação pode
            realçar esse sabor. Isso pode ser relacionado
            a qualquer um dos cinco sabores: azedo, salgado, doce, amargo ou umami. Por exemplo, ao misturar o café
            irlandês com Jameson Caskmates, um whisky irlandês
            com notas de chocolate e café, é possível realçar o sabor desses ingredientes quando combinado com
            chocolate.</p>

        <h2> HARMONIZAÇÃO POR CONTRASTE</h2>
        <p> A ideia aqui é gerar um contraste de sabores, de forma a criar um confronto entre a harmonização e a bebida
            no paladar do consumidor, estimulando, assim, um ciclo
            de consumo. É como o tradicional amendoim acompanhando a cerveja: a cerveja é refrescante e amarga, sendo
            capaz de saciar a sede, enquanto o amargor pode despertar
            a fome. Por sua vez, o amendoim satisfaz a fome, mas o sal presente nele provoca sede.</p>

        <h2> HARMONIZAÇÃO POR CORTE</h2>
        <p>

            É quando uma bebida é capaz de reduzir, anular ou suavizar o sabor de seu complemento. Para ilustrar,
            podemos citar o exemplo clássico de comer chocolate ao leite seguido de um gole de refrigerante. O chocolate
            amortece as papilas gustativas,
            diminuindo a percepção do sabor doce do chocolate, e quando você bebe o refrigerante, parece que ele não tem
            açúcar.

            No contexto de coquetéis, um exemplo comum é o ritual de beber tequila. Ao consumi-la com limão e sal,
            cria-se uma combinação de sabores salgado e azedo,
            que realça a doçura da tequila no momento da dose e ameniza a intensidade da bebida.</p>
    </div>


<footer class="footer">
    <div class="left">

        <p class="links">

            <a href="../index.html" title="Home">Home</a>
            <a href="../components/sobre.html" title="Html">Sobre</a>
            <a href="../components/fale-conosco.html" title="fale-conosco">Fale conosco</a>
            <a href="../components/politicadeprivacidade.html" title="politicadeprivacidade">Política de privacidade</a>
        </p>
        <div class="footer-icons">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-pinterest"></i></a>

        </div>
        <p class="Copyright">Copyright &copy; 2023 DrinkLab - Todos os Direitos Reservados.</p>
    </div><!--Left-->
    <div class="right">
        <h4 class="title-footer">Torne-se um assinante</h4>
        <form action="#" method="post">
            <input type="text" name="nome" placeholder="Nome" required="" />
            <input type="email" name="email" placeholder="E-mail" required="" />
            <button class="btn">Enviar</button>
        </form>
    </div><!--Right-->
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>