<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../components-css/nav.css">
    <link rel="stylesheet" href="../components-css/footer.css">
    <link rel="stylesheet" href="../components-css/politicadeprivacidade.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--biblioteca de icones-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg shadow-5rem">
            <div class="container-fluid">
                <a class="navbar-brand a" href="../index.html" id="inicio-link">
                    <img src="../assets/imagens/logocomfundo.png" alt="Bootstrap" width="138" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <!-- nome das páginas na nav bar-->
                    <ul class="navbar-nav nav-underline ml-auto ">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="receitas-link"
                                href="./receitas.html">Receitas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="fale-conosco-link"
                                href="./fale-conosco.html">Fale Conosco</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="sobre-link" href="./sobre.html">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="contato-link" href="./contato.html">Contato</a>
                        </li>
                    </ul>

                    <form class="d-flex d-lg-flex d-none justify-content-center" role="search">
                        <input class="form-control" type="search" placeholder="Drinks" aria-label="Search">
                        <!-- modelo icone--> <button class="btn" type="submit"><span
                                class="bi bi-search"></span></button>
                    </form>

                    <ul class="navbar-nav nav-underline ml-auto " id="ul-acesso">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="acesso-link" href="./acesso.html">Login</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>

    <div class="titulo">
        <h1> Política de privacidade</h1>
    </div>

    <div class="textocorrido">

        <h2> SEÇÃO 1 - INFORMAÇÕES GERAIS.</h2>

        <p> A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e
            proteção dos dados pessoais
            dos usuários e visitantes do site Drink Lab com a finalidade de demonstrar absoluta transparência quanto ao
            assunto e esclarecer a
            todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os
            usuários podem gerenciar ou excluir
            as suas informações pessoais. Esta Política de Privacidade aplica-se a todos os usuários e visitantes do
            site.</p>

        <h2> SEÇÃO 2 - COMO RECOLHEMOS OS DADOS PESSOAIS DO USUÁRIO E DO VISITANTE?</h2>

        <p> Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma:</br></br>
            • Quando o usuário cria uma conta/perfil na plataforma são os dados de identificação básicos, como: e-mail e
            nome completo.
            A partir deles, podemos identificar o usuário e o visitante, além de garantir uma maior segurança e
            bem-estar às suas necessidades.
        </p>
        <p> • Quando um usuário e visitante acessa o site: as informações sobre interação e acesso são coletadas pela
            empresa para garantir uma melhor
            experiência ao usuário e visitante. Estes dados podem tratar sobre as palavras-chaves utilizadas em uma
            busca, visualizações de páginas, perfis,
            a URL de onde o usuário e visitante provêm, o navegador que utilizam e seus IPs de acesso,
            dentre outras que poderão ser armazenadas e retidas.
        </p>
        <p> • Por intermédio de terceiro: a plataforma Drink Lab recebe dados de terceiros, Facebook e Google, quando um
            usuário faz login com o seu perfil de um
            desses sites. A utilização desses dados é autorizada previamente pelos usuários junto ao terceiro em
            questão.
        </p>
        <h2> SEÇÃO 3 - QUAIS DADOS PESSOAIS RECOLHEMOS SOBRE O USUÁRIO E VISITANTE?</h2>

        <p> Os dados pessoais do usuário e visitante recolhidos são os seguintes:</br></br>
            • Dados para a criação da conta/perfil na plataforma: e-mail e nome completo.
        </p>
        <p> •Dados para otimização da navegação: acesso a páginas, palavras-chave utilizadas na busca, endereço de IP.
        </p>
        <p> • Newsletter: o e-mail cadastrado pelo visitante que optar por se inscrever na Newsletter será coletado
            e armazenado até que o usuário solicite o descadastro.
        </p>
        <h2> SEÇÃO 4 - PARA QUE FINALIDADES UTILIZAMOS OS DADOS PESSOAIS DO USUÁRIO E VISITANTE?</h2>

        <p> Os dados pessoais do usuário e do visitante coletados e armazenados pela plataforma tem por
            finalidade:</br></br>
            • Bem-estar do usuário e visitante: aprimorar o produto e/ou serviço oferecido, facilitar, agilizar e
            cumprir os compromissos
            estabelecidos entre o usuário e a empresa, melhorar a experiência dos usuários e fornecer funcionalidades
            específicas a depender
            das características básicas do usuário.
        </p>
        <p> • Melhorias da plataforma: compreender como o usuário utiliza os serviços da plataforma, para ajudar no
            desenvolvimento de negócios e técnicas.
        </p>
        <p> •Anúncios: apresentar anúncios personalizados para o usuário com base nos dados fornecidos.
        </p>
        <p> • Dados de cadastro: para permitir o acesso do usuário a determinados conteúdos da plataforma, exclusivo
            para usuários cadastrados.
        </p>
        <h2> SEÇÃO 5 - CONSENTIMENTO.</h2>

        <p> Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a
            presente Política de Privacidade.
            O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro,
            acessar e atualizar seus dados
            pessoais e garante a veracidade das informações por ele disponibilizadas.

        </p>

    </div>


    <footer class="footer">
        <div class="left">

            <p class="links">

                <a href="../index.html" title="Home">Home</a>
                <a href="../components/sobre.html" title="Html">Sobre</a>
                <a href="../components/fale-conosco.html" title="fale-conosco">Fale conosco</a>
                <a href="../components/politicadeprivacidade.html" title="politicadeprivacidade">Política de
                    privacidade</a>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-pinterest"></i></a>

            </div>
            <p class="Copyright">Copyright &copy; 2023 DrinkLab - Todos os Direitos Reservados.</p>
        </div><!--Left-->
        <div class="right">
            <h4 class="title-footer">Torne-se um assinante</h4>
            <form action="#" method="post">
                <input type="text" name="nome" placeholder="Nome" required="" />
                <input type="email" name="email" placeholder="E-mail" required="" />
                <button class="btn">Enviar</button>
            </form>
        </div><!--Right-->
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>