<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sobre-DrinkLab</title>
    <link rel="icon" href="../assets/imagens/icone.png" type="image/png">
    <link rel="stylesheet" href="../components-css/nav.css">
    <link rel="stylesheet" href="../components-css/footer.css">
    <link rel="stylesheet" href="../components-css/sobre.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--biblioteca de icones-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand a" href="../index.html" id="inicio-link">
                    <img src="../assets/imagens/logocomfundo.png" alt="Bootstrap" width="138" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <!-- nome das páginas na nav bar-->
                    <ul class="navbar-nav nav-underline ml-auto ">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="receitas-link"
                                href="../components/receitas.html">Receitas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="favoritos-link"
                                href="../components/favoritos.html">Favoritos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" id="sobre-link"
                                href="../components/sobre.html">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="fale-conosco-link"
                                href="../components/fale-conosco.html">Fale Conosco</a>
                        </li>

                    </ul>

                    <form class="d-lg-flex justify-content-center d-none d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Drinks" aria-label="Search">
                        <!-- modelo icone--> <button class="btn" type="submit"><span
                                class="bi bi-search"></span></button>
                    </form>

                    <ul class="navbar-nav nav-underline ml-auto " id="ul-acesso">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="acesso-link" href="./acesso.html">Login</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>


    <!--video fundo + botão setinha p baixo  -->
    <section class="drinkvideo">

        <video playsinline loop autoplay muted poster="../assets/imagens/fotocapavideo.png" class="videodrinklab">

            <source type="video/mp4" src="../assets/imagens/drinklabvideo.mp4">

        </video>
        <div class="overlay">
            <!--Botão setinha p baixo + config de estilo -->
            <p class="text-center scroll-button">
                <a class="btn2 btn-primary btn-custom" role="button" id="scrollButton">
                    <i class="bi bi-chevron-down" style="font-size:3rem; color:#ECE5DC"> </i>
                </a>
            </p>
        </div>

    </section>



    <!--texto sobre -->
    <section>
        <div id="textoapresentação">
            <p> "Nós do Drink Lab buscamos tornar a sua experiência com a produção e apresentação de Drinks muito</br>
                mais incrível. Nosso menu de Drinks foi escolhido a dedo para atender os mais variados gostos, desde os
                </br>apreciadores de um bom clássico até os amantes das inovações."</p>
        </div>

        <footer class="footer">
            <div class="left">

                <p class="links">

                    <a href="../index.html" title="Home">Home</a>
                    <a href="../components/sobre.html" title="Html">Sobre</a>
                    <a href="../components/fale-conosco.html" title="fale-conosco">Fale conosco</a>
                    <a href="../components/politicadeprivacidade.html" title="politicadeprivacidade">Política de privacidade</a>
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-pinterest"></i></a>

                </div>
                <p class="Copyright">Copyright &copy; 2023 DrinkLab - Todos os Direitos Reservados.</p>
            </div><!--Left-->
            <div class="right">
                <h4 class="title-footer">Torne-se um assinante</h4>
                <form action="#" method="post">
                    <input type="text" name="nome" placeholder="Nome" required="" />
                    <input type="email" name="email" placeholder="E-mail" required="" />
                    <button class="btn">Enviar</button>
                </form>
            </div><!--Right-->
        </footer>
    </section>


    <script src="../nav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>



    <!--função para setinha p baixo funcionar -->
    <script>
        let currentSectionIndex = 0;
        const sections = document.querySelectorAll('section');
        const navHeight = document.querySelector('nav').offsetHeight;
        document.getElementById('scrollButton').addEventListener('click', function () {
            // Scroll to the next section
            if (currentSectionIndex < sections.length - 1) {
                currentSectionIndex++;
                const scrollToY = sections[currentSectionIndex].offsetTop - navHeight;
                window.scrollTo({ top: scrollToY, behavior: 'smooth' });
            }
            currentSectionIndex = 0;
        })
    </script>

</body>

</html>