<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../components-css/nav.css">
    <link rel="stylesheet" href="../../components-css/footer.css">
    <link rel="stylesheet" href="../../components-css/drinks.css">
    <link rel="stylesheet" href="../../components-css/galeria-mobile-drinks.css">
    <link rel="stylesheet" href="../../components-css/banner.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--biblioteca de icones-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">



</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand a" href="../../index.html" id="inicio-link">
                    <img src="../../assets/imagens/logocomfundo.png" alt="Bootstrap" width="138" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <!-- nome das páginas na nav bar-->
                    <ul class="navbar-nav nav-underline ml-auto ">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" id="receitas-link"
                                href="../../components/receitas.html">Receitas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="favoritos-link"
                                href="../../components/favoritos.html">Favoritos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="sobre-link"
                                href="../../components/sobre.html">Sobre</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="fale-conosco-link"
                                href="../../components/fale-conosco.html">Fale
                                Conosco</a>
                        </li>

                    </ul>

                    <form class="d-flex d-lg-flex d-none justify-content-center" role="search">
                        <input class="form-control" type="search" placeholder="Drinks" aria-label="Search">
                        <!-- modelo icone--> <button class="btn" type="submit"><span
                                class="bi bi-search"></span></button>
                    </form>

                    <ul class="navbar-nav nav-underline ml-auto " id="ul-acesso">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="acesso-link" href="./../acesso.html">Login</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-6 text-center">
                <div class="image-container">
                    <i class="bi bi-star card-icon" role="button" onclick="toggleSelection(this)"></i>
                    <img src="../../assets/imagens/receitavinhoquente.png" class="img-drink  img-fluid ">
                </div>
                <img src="../../assets/imagens/graficovinhoquente.png" class="img-grafico img-fluid">

            </div>

            <div class="col-6">
                <h1> Vinho Quente </h1>
                <p class="subtitulocosmo">
                    Aqueça seu paladar com o Vinho Quente Especial, uma fusão de especiarias, maçã e vinho tinto. Uma
                    bebida reconfortante,
                    ideal para noites aconchegantes e celebrações calorosas. </br>
                </p>
                <p class="tags1">
                    Inverno
                </p>
                <p class="tags2">
                    Quente
                </p>
                <p class="tags3">
                    Vinho
                </p>
                <div>


                    <div class="textocorrido">
                        <p class="receitasubtitulos">
                            Ingredientes
                        </p>
                        <p class="receitaitens">
                            • 1 xícara de açúcar </br>
                            • 6 cravos </br>
                            • 4 canelas em rama </br>
                            • 1/2L de água </br>
                            • 1L de vinho tinto </br>
                            • 1 maça descarcada e cortada em fatias </br>


                        </p>
                        <p class="receitasubtitulos">
                            Utensílios
                        </p>
                        <p class="receitaitens">
                            • Panela </br>

                        </p>
                        <p class="receitasubtitulos">
                            Modo de preparo
                        </p>
                        <p class="receitaitens">
                            • Queime a metade do açúcar com o cravo e a canela. </br>
                            • Acrescente o vinho, já misturado com a água. </br>
                            • Junte a maçã e o açúcar restante. </br>
                            • Deixe cozinhar um pouco e sirva bem quente.. </br>

                        </p>
                        <p class="receitasubtitulos">
                            Servir em
                        </p>
                        <p class="receitaitens">
                            • xícaras ou taças
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="container-banner-drinks"></div>



    <footer class="footer">
        <div class="left">

            <p class="links">

                <a href="../../index.html" title="Home">Home</a>
                <a href="../../components/sobre.html" title="Html">Sobre</a>
                <a href="../../components/fale-conosco.html" title="fale-conosco">Fale conosco</a>
                <a href="../../components/politicadeprivacidade.html" title="politicadeprivacidade">Política de
                    privacidade</a>
            </p>
            <div class="footer-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-pinterest"></i></a>

            </div>
            <p class="Copyright">Copyright &copy; 2023 DrinkLab - Todos os Direitos Reservados.</p>
        </div><!--Left-->
        <div class="right">
            <h4 class="title-footer">Torne-se um assinante</h4>
            <form action="#" method="post">
                <input type="text" name="nome" placeholder="Nome" required="" />
                <input type="email" name="email" placeholder="E-mail" required="" />
                <button class="btn">Enviar</button>
            </form>
        </div><!--Right-->
    </footer>


    <script src="../../banner-drinks.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <!--função para fazer a estrela de favoritos funcionar-->
    <script>
        function toggleSelection(icon) {
            icon.classList.toggle('bi-star');
            icon.classList.toggle('bi-star-fill');

            setTimeout(() => {
                window.location.href = '../../components/favoritos.html';
            }, 800);
        }
    </script>

</body>

</html>